<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
  </head>
  <body>
    <div style="display: flex; align-items: center;justify-self: center; flex-direction: column;">
      <h1>Page Not Found</h1>
      <button><a href="/">Home Page</a></button>
    </div>
  </body>
</html>
